## Question#01
Q1. my_tuple = ( (1, 2, 3), [4, 5, 6], (apple, banana, cherry), [7, 8, 9] )
• Print all elements from my_tuple on a new line (using for loop)
• Create a new tuple by concatenating the first and last elements of my_tuple

In [1]:
my_tuple = ( (1, 2, 3), [4, 5, 6], ("apple", "banana", "cherry"), [7, 8, 9] )
for i in my_tuple:
    print (i)
new_tuple = my_tuple[0] + tuple(my_tuple[-1])
print(new_tuple)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]
(1, 2, 3, 7, 8, 9)

## Question#02
Q2. inventory = { The Great Gatsby: {price: 10.99, quantity: 5}, Rich dad poor dad: {price:
8.99, quantity: 8}, Harry Potter: {price: 12.50, quantity: 2}, }
• Add a new book in inventory using method and get all book titles using method
• Remove a book if it's out of stock

In [2]:
inventory = {
    "The Great Gatsby": {"price": 10.99, "quantity": 5},
    "Rich Dad Poor Dad": {"price": 8.99, "quantity": 8},
    "Harry Potter": {"price": 12.50, "quantity": 2},
}
inventory["The kite runner"]= {"price": 14.999, "quantity": 4}
print(inventory.keys())

out_of_stock_books = [title for title, details in inventory.items() if details["quantity"] == 0]
for book in out_of_stock_books:
    del inventory[book]
    print(book ,"out of stock")

dict_keys(['The Great Gatsby', 'Rich Dad Poor Dad', 'Harry Potter', 'The kite runner'])

## Question#3
Q3. An ecommerce store stores information about its products in a nested dictionary. The outer
dictionary uses product IDs as keys, and the inner dictionary stores product details like name,
category, price, and stock quantity.
products = { 101: {name: Laptop, category: Electronics, price: 1200, stock: 50}, 102:
{"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker",
"category": "Home Appliances", "price": 80, "stock": 30} }
• Increase the stock of the "Shirt" product (add 50 more units)
• Add a new product (e.g., "Smartphone")

In [3]:
products={
    101:{"name":"Laptop", "category":"Electronics", "price":1200, "stock":50},
    102:{"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
    103:{"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} 
}
products["102"]={"name": "Shirt", "category": "Apparel", "price": 25,"stock":250}
products["104"]={"name":"Smartphone", "category":"Electronics", "price": 27000, "stock":12}
print(products)

{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 200}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, '102': {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, '104': {'name': 'Smartphone', 'category': 'Electronics', 'price': 27000, 'stock': 12}}

## Question#4
Q4. You are given a list that contains some duplicate items. Remove the duplicates by converting the
list to a set.
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

In [4]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
set(shopping_list)

{'apple', 'banana', 'grape', 'orange'}

## Question#5
Q5. You are managing a list of students enrolled in two different courses. You need to perform
various set operations to understand the student enrollment. 
Task: Create two sets: one for students
in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in
"Course B" (difference). Find students who are only in one of the two courses (symmetric
difference). course_a = {"John", "Alice", "Bob", "David"} course_b = {&quot;Alice&quot;, Eve&quot;, "Charlie",
"David"}
• Find students who are in Course A but not in Course B (difference)
• Find students who are only in one of the two courses (symmetric difference)

In [5]:
course_a={"john","Alice", "Bob", "David"}
course_b={"Alice", "Eve", "Charlie", "David"}
students_only_in_course_a =course_a.difference(course_b)
print(f"students only in course A are:{students_only_in_course_a}")
in_any_course =course_a.symmetric_difference(course_b)
print(f"students who are only in one of the two courses are :{in_any_course}")

students only in course A are:{'Bob', 'john'}
students who are only in one of the two courses are :{'Bob', 'Eve', 'Charlie', 'john'}

## Question#6
Q6. Write a Python program that calculates the sum of all even numbers between 1 and 50
(inclusive) using a for loop.
Hint
1. Initialize a variable to hold the sum (e.g., sum_of_evens).
2. Use a for loop to iterate through all numbers from 1 to 50.
3. Inside the loop, check if the number is even.
4. If the number is even, add it to sum_of_evens.
5. After the loop finishes, print the total sum of all even numbers between 1 and 50.

In [6]:
sum_of_evens=0
for a in range(2,51):
    if a % 2==0:
       sum_of_evens+= a
print(sum_of_evens)

650

## Question#7
Q7. Write a Python program that prints the multiplication table for a given number (between 1 and
10) using a for loop.

Hint:
1. Ask the user for a number between 1 and 10 .
2. Use a for loop to iterate through the numbers from 1 to 10.
3. For each iteration, calculate the product of the given number and the current number in the
loop.
4. Print the result in a readable format (e.g., 5 x 1 = 5).
5. Ensure the program works correctly for any number between 1 and 10.

In [7]:
number=int(input("enter a number between 1 to 10"))
if 1<= number <=10:
    for i in range(1,11):
        product= number * i
        print(number,"x",i,"=",product)
else:
    print("enter a number between 1 to 10")

enter a number between 1 to 10 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## Question#8
Q8. Power of a Number
Write a Python program that takes a number and prints the powers of the number (starting from 1
to 10) using a while loop. For example, if the user inputs 3, the output should be:
3^1 = 3
3^2 = 9
3^3 = 27
... up to 3^10.

In [12]:
num = int(input("Enter a number between 1 to 10"))
number = 1
while number <= 10:
    power = num ** number
    print(f"{num} ^ {number} = {power}")
    number += 1

Enter a number between 1 to 10 5

5 ^ 1 = 5
5 ^ 2 = 25
5 ^ 3 = 125
5 ^ 4 = 625
5 ^ 5 = 3125
5 ^ 6 = 15625
5 ^ 7 = 78125
5 ^ 8 = 390625
5 ^ 9 = 1953125
5 ^ 10 = 9765625

## Question#9
Problem Statement: Write a Python program that takes an integer input from the user and
counts down from that number to 0. The program should display the current number at each step
until it reaches 0, at which point it should print a message indicating the countdown is finished
Output Hint:
Enter a number to start the countdown: 3
3
2
1
0
Countdown finished!

In [9]:
number = int(input("Enter a number to start the countdown: "))
while number >= 0:
    print(number)
    number -= 1

print("Countdown finished!")

Enter a number to start the countdown:  5

5
4
3
2
1
0
Countdown finished!

## Question#10
Q10. Write a Python program that takes an integer input n from the user and generates a right-
angled triangle pattern of stars (*) with n rows. The first row should contain 1 star, the second row 2
stars, the third row 3 stars, and so on until the nth row.
Ensure the stars in each row are separated by spaces, and each row starts on a new line.

In [10]:
n = int(input("Enter the number of rows for the triangle: "))

for i in range(1, n+1):
    print('* ' * i)

Enter the number of rows for the triangle:  5

*
* *
* * *
* * * *
* * * * *